.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    font-size: 14px;
    width: 100%;
    color: white;
    background-image:linear-gradient(180deg,rgba(0,0,0,0.7) 10%,transparent) ;
    z-index: 1;
}
.navbar-left{
    width: 70px;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 50px;
}
.navbar-left img{
    width: 300px;
    height: 170px;
    cursor: pointer;
}
.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.navbar-left ul li{
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s ease;
    margin-right: 50px ;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 1rem;
}
.search-icon,.bell-icon{
    width: 32px;
    height: 32px;
    object-fit: contain;
    cursor: pointer;
}
.profile,.icon{
    width: 32px;
    height: 32px;
    margin-right:15px;
    object-fit: contain;
    cursor: pointer;
}
.navbar-dropdown{
  position: absolute;
  top: 30px;       
  right: 20px;     
  width: 35px;
  height: 35px;
  margin-left: 80px;
  margin-top: 25px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;  
  gap: 0.75rem;   
}
.signout-menu{
     position: absolute;
     top: 40px;
     right: 0;
     background: #191919;
     padding: 8px 12px;
     border: 1px solid #333;
     z-index: 999;
}
.signout-menu p{
    margin: 0;
    font-size: 14px;
    color: white;
    cursor: pointer;
}
.signout-menu p:hover{
    color: #e50914;
}
.nav-dark{
    background: #141421;
}
@media (max-width:800px){
    .navbar{
        padding: 20px 4%;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar img{
        height: 25px;
    }
}
@media (max-width:518px) {
    .navbar img{
        height: 20px;
    }
    .navbar-right{
        gap: 10px;
    }
}